/*
 * Styles for Big Desktops (Large Monitor)
 * ====================================================== */

@media (min-width: 1200px) { 

.grid-bd-12 {
  width: 100%;
}

.grid-bd-11 {
  width: 91.666666%;
}

.grid-bd-10 {
  width: 83.333333%;
}

.grid-bd-9 {
  width: 75%;
}

.grid-bd-8 {
  width: 66.666666%;
}

.grid-bd-7 {
  width: 58.333333%;
}

.grid-bd-6 {
  width: 50%;
}

.grid-bd-5 {
  width: 41.666666%;
}

.grid-bd-4 {
  width: 33.333333%;
}

.grid-bd-3 {
  width: 25%;
}

.grid-bd-2 {
  width: 16.666666%;
}

.grid-bd-1 {
  width: 8.333333%;
}

.grid-bd-offset-12 {
  margin-left: 100%;
}

.grid-bd-offset-11 {
  margin-left: 91.666666%;
}

.grid-bd-offset-10 {
  margin-left: 83.333333%;
}

.grid-bd-offset-9 {
  margin-left: 75%;
}

.grid-bd-offset-8 {
  margin-left: 66.666666%;
}

.grid-bd-offset-7 {
  margin-left: 58.333333%;
}

.grid-bd-offset-6 {
  margin-left: 50%;
}

.grid-bd-offset-5 {
  margin-left: 41.666666%;
}

.grid-bd-offset-4 {
  margin-left: 33.333333%;
}

.grid-bd-offset-3 {
  margin-left: 25%;
}

.grid-bd-offset-2 {
  margin-left: 16.666666%;
}

.grid-bd-offset-1 {
  margin-left: 8.333333%;
}

}