/*
 * Styles for Desktop (PC)
 * ====================================================== */

@media (min-width: 1024px) { 

.grid-ds-12 {
  width: 100%;
}

.grid-ds-11 {
  width: 91.666666%;
}

.grid-ds-10 {
  width: 83.333333%;
}

.grid-ds-9 {
  width: 75%;
}

.grid-ds-8 {
  width: 66.666666%;
}

.grid-ds-7 {
  width: 58.333333%;
}

.grid-ds-6 {
  width: 50%;
}

.grid-ds-5 {
  width: 41.666666%;
}

.grid-ds-4 {
  width: 33.333333%;
}

.grid-ds-3 {
  width: 25%;
}

.grid-ds-2 {
  width: 16.666666%;
}

.grid-ds-1 {
  width: 8.333333%;
}

.grid-ds-offset-12 {
  margin-left: 100%;
}

.grid-ds-offset-11 {
  margin-left: 91.666666%;
}

.grid-ds-offset-10 {
  margin-left: 83.333333%;
}

.grid-ds-offset-9 {
  margin-left: 75%;
}

.grid-ds-offset-8 {
  margin-left: 66.666666%;
}

.grid-ds-offset-7 {
  margin-left: 58.333333%;
}

.grid-ds-offset-6 {
  margin-left: 50%;
}

.grid-ds-offset-5 {
  margin-left: 41.666666%;
}

.grid-ds-offset-4 {
  margin-left: 33.333333%;
}

.grid-ds-offset-3 {
  margin-left: 25%;
}

.grid-ds-offset-2 {
  margin-left: 16.666666%;
}

.grid-ds-offset-1 {
  margin-left: 8.333333%;
}

.grid-ds-offset-0 {
  margin-left: 0;
}

}