/*
 * General Variables
 * ====================================================== */

// Primary Colors
$yellow: #f9bc32;

// General Purpose Colors
$white: #FFFFFF;
$whiteGrayish: #F1F1F1;
$blackLightest: #777777;
$blackLight: #333333;
$black: #000000;
$red: #F00505;

/*
 * General Styles
 * ====================================================== */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

article,
aside,
footer,
header,
hgroup,
nav,
section {
  display: block;
}

a {
  color: #eab130;
  text-decoration: none;
}

input,
textarea {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 3px;
}

input:hover,
input:focus,
input:active,
textarea:hover,
textarea:focus,
textarea:active {
  border: 1px solid $yellow;
}

.content-wrapper {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.container {
  margin-left: -15px;
  margin-right: -15px;
}

.content-wrapper:before,
.content-wrapper:after,
.container:before,
.container:after {
  display: table;
  content: " ";
  clear: both;
}

video {
  width: 100%;
  height: 100%;
  display: block;
}

.bg-black {
  background-color: $black;
}

.fc-black {
  color: $blackLight;
}

.fc-white {
  color: $whiteGrayish;
}

.fc-faded {
  color: $blackLightest;
}

.no-padding {
  padding: 0;
}

.no-side-padding {
  padding-left: 0;
  padding-right: 0;
}

.top-margin {
  margin-top: 15px;
}

.bottom-margin {
  margin-bottom: 15px;
}

.no-border {
  border: 0;
}

.app-well {
  background-color: #E4E4E4;
}

.text-center {
  text-align: center;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.hide {
  display: none;
  visibility: none;
  opacity: 0;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
     -khtml-user-select: none; /* Konqueror */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  not supported by any browser */
}

.box {
  background-color: #FFFFFF;
  padding: 6px 4px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}

.input-container {
  padding-left: 5px;
  padding-right: 5px;
  display: block;
  margin-bottom: 15px;
}

.input-container > input {
  display: block;
  width: 100%;
  height: 36px;
  font-size: 18px;
  border: 1px solid #bbb;
  padding: 6px 10px;
}

.input-container > select {
  display: block;
  width: 100%;
  height: 36px;
  font-size: 18px;
  border: 1px solid #bbb;
  padding: 6px 10px;
}

.input-container > .lbl-error {
  display: block;
  padding: 6px 2px 2px;
  color: $red;
}

.btn {
  display: inline-block;
  padding: 8px 16px;
  background-color: $yellow;
  color: $whiteGrayish;
  border: none;
  border-radius: 3px;
  font-weight: regular;
  font-size: 17px;
  cursor: pointer;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -ms-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}

.btn:hover,
.btn:focus,
.btn:active {
  background-color: darken($yellow, 10%);
  color: $white;
}

.lbl {
  line-height: 36px;
  font-size: 18px;
}

/*
 * App Styles
 * ====================================================== */
.app-pprint {
  padding: 8px 12px;
  background-color: $blackLightest;
  border: 1px solid darken($blackLightest, 10%);
  border-radius: 3px;
  color: $whiteGrayish;
  font-family: "Roboto", arial, sans-serif;
  font-size: 16px;
  letter-spacing: 0.9px;
}