/*
 * Styles for Tablets
 * ====================================================== */

@media (min-width: 768px) {

.grid-ta-12 {
  width: 100%;
}

.grid-ta-11 {
  width: 91.666666%;
}

.grid-ta-10 {
  width: 83.333333%;
}

.grid-ta-9 {
  width: 75%;
}

.grid-ta-8 {
  width: 66.666666%;
}

.grid-ta-7 {
  width: 58.333333%;
}

.grid-ta-6 {
  width: 50%;
}

.grid-ta-5 {
  width: 41.666666%;
}

.grid-ta-4 {
  width: 33.333333%;
}

.grid-ta-3 {
  width: 25%;
}

.grid-ta-2 {
  width: 16.666666%;
}

.grid-ta-1 {
  width: 8.333333%;
}

.grid-ta-offset-12 {
  margin-left: 100%;
}

.grid-ta-offset-11 {
  margin-left: 91.666666%;
}

.grid-ta-offset-10 {
  margin-left: 83.333333%;
}

.grid-ta-offset-9 {
  margin-left: 75%;
}

.grid-ta-offset-8 {
  margin-left: 66.666666%;
}

.grid-ta-offset-7 {
  margin-left: 58.333333%;
}

.grid-ta-offset-6 {
  margin-left: 50%;
}

.grid-ta-offset-5 {
  margin-left: 41.666666%;
}

.grid-ta-offset-4 {
  margin-left: 33.333333%;
}

.grid-ta-offset-3 {
  margin-left: 25%;
}

.grid-ta-offset-2 {
  margin-left: 16.666666%;
}

.grid-ta-offset-1 {
  margin-left: 8.333333%;
}

.app-header .title {
  font-size: 24px;
  margin-top: 22px;
  margin-bottom: 22px;
}

.app-header .menu-btn {
  display: none;
}

.navbar {
  text-align: right;
  visibility: visible;
  opacity: 1;
  overflow: initial;
  height: auto;
  margin-bottom: -5px;
}

.navbar > ul {
  display: inline-block;
  width: auto;
  margin: 0;
  padding: 0;
  list-style: none;
}

.navbar > ul > li {
  float: left;
}

.navbar > ul > li > a {
  cursor: pointer;
  display: block;
  text-decoration: none;
  font-size: 18px;
  padding: 30px 12px;
  color: inherit;
}

}