/*
 * Styles for Mobile Devices
 * ====================================================== */

.grid-sp-12 {
  width: 100%;
}

.grid-sp-11 {
  width: 91.666666%;
}

.grid-sp-10 {
  width: 83.333333%;
}

.grid-sp-9 {
  width: 75%;
}

.grid-sp-8 {
  width: 66.666666%;
}

.grid-sp-7 {
  width: 58.333333%;
}

.grid-sp-6 {
  width: 50%;
}

.grid-sp-5 {
  width: 41.666666%;
}

.grid-sp-4 {
  width: 33.333333%;
}

.grid-sp-3 {
  width: 25%;
}

.grid-sp-2 {
  width: 16.666666%;
}

.grid-sp-1 {
  width: 8.333333%;
}

.grid-sp-offset-12 {
  margin-left: 100%;
}

.grid-sp-offset-11 {
  margin-left: 91.666666%;
}

.grid-sp-offset-10 {
  margin-left: 83.333333%;
}

.grid-sp-offset-9 {
  margin-left: 75%;
}

.grid-sp-offset-8 {
  margin-left: 66.666666%;
}

.grid-sp-offset-7 {
  margin-left: 58.333333%;
}

.grid-sp-offset-6 {
  margin-left: 50%;
}

.grid-sp-offset-5 {
  margin-left: 41.666666%;
}

.grid-sp-offset-4 {
  margin-left: 33.333333%;
}

.grid-sp-offset-3 {
  margin-left: 25%;
}

.grid-sp-offset-2 {
  margin-left: 16.666666%;
}

.grid-sp-offset-1 {
  margin-left: 8.333333%;
}